/* Basic */
::selection {
    background: #880000;
    color: white;
}

::-moz-selection {
    background: #880000;
    color: white;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.5;
    color: #222;
    font-weight: 300;
    padding-top: 1rem;
}

/* Font */
.axis text {
    font-family: 'Roboto';
}

h1, h2, h3, h4 {
    font-weight: 900;
    line-height: 1.2;
}

h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
    max-width: 1100px;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.2777777777777777rem;
    line-height: 1.35;;
}

p, span, li {
    font-size: 1.2222222222222223rem;
    font-weight: 300;
    margin-top: 0;
}

p {
    margin-bottom: 1.5rem;
}

p.information {
    font-size: 1rem;
}

.axis text, .label {
    font-size: 0.7222222222222222rem;
}

h1 + p.information {
    margin-top: -2.5rem;
    margin-bottom: 4rem;
}


/* Color */
h1, h2, h3 {
    color: #880000;
}

.row--color {
    background: #f8f8f8;
}

path.line-0 {
    stroke: #880000;
}

.axis path, .axis line {
    stroke: #222;
}

.label {
    fill: #222;
}

p.information {
    color: #999;
    position: relative;
    padding-left: 1.5rem;
}

p::before {
    content: "ⓘ";
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
}

/* Layout */
main p, main span, h2, h3 {
    max-width: 800px;
}

.row:first-of-type {
    padding-top: 0;
}

.row {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.row:not(.row--wide), .footer__inside {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row--wide {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.chart {
    margin-top: 5rem;
}

/* Chart */

.axis line, .axis path{
    stroke-width: 1;
    shape-rendering: crispEdges;
}

path.line-0 {
    fill: none;
}

/* Footer */
.footer__inside {
    padding-top: 4rem;
    padding-bottom: 3rem;
}